.concept .container {
  padding: 182px 103px 90px;
  background: url("../img/concept-1.png") 0 -214% no-repeat,
    url("../img/concept-2.png") 100% -16.7% no-repeat,
    url("../img/concept-3.png") 100% 56.4% no-repeat,
    url("../img/concept-4.png") 0 138.4% no-repeat;
}

.concept__first-screen {
  display: flex;
  margin-bottom: 425px;
}

.concept h2 {
  @include font-settings ($ff-ttt, 800, 38px, 1, $color-default-white);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin: 0 95px 0 0;
}

.concept p {
  @include font-settings ($ff-mont, 500, 16px, 1.3, $color-default-white);
  margin: 0;
}

.concept__content {
  padding-top: 5px;
}

.concept__content p {
  width: 744px;
  margin-bottom: 16px;
}

.concept__content b {
  @include font-settings ($ff-mont, 700, 16px, 1.3, $color-default-white);
}

.concept__second-screen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 308px;
}

.concept__second-screen p {
  padding-left: 105px;
  max-width: 520px;
  margin-bottom: 25px;
}

.concept__third-screen {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: flex-end;
}

.concept__third-screen p {
  padding-right: 70px;
  max-width: 563px;
  margin-bottom: 22px;
}
