.concept .container {
  padding: 182px 103px 90px;
  // background: url("../img/concept-1.png") 0 -214% no-repeat,
  //   url("../img/concept-2.png") 100% -16.7% no-repeat,
  //   url("../img/concept-3.png") 100% 56.4% no-repeat,
  //   url("../img/concept-4.png") 0 138.4% no-repeat;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 100%;
  }
}

.concept__first-screen {
  display: flex;
  margin-bottom: 425px;

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 315px;
  }
}

.concept h2 {
  @include font-settings ($ff-ttt, 800, 38px, 1, $color-default-white);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin: 0 95px 0 0;

  @include vp-767 {
    font-size: 18px;
    margin: 0 auto;
    padding-top: 62px;
    margin-bottom: 16px;
  }
}

.concept p {
  @include font-settings ($ff-mont, 500, 16px, 1.3, $color-default-white);
  margin: 0;

  @include vp-767 {
    font-size: 12px;
  }
}

.concept__content {
  padding-top: 5px;
  padding-left: 7px;
}

.concept__content p {
  width: 744px;
  margin-bottom: 16px;

  @include vp-767 {
    padding: 0;
    line-height: 1.4;
    max-width: 100%;
    margin-bottom: 17px;
  }
}

.concept__content b {
  @include font-settings ($ff-mont, 700, 16px, 1.3, $color-default-white);

  @include vp-767 {
    font-size: 12px;
  }
}

.concept__second-screen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 308px;

  @include vp-767 {
    margin-bottom: 321px;
  }
}

.concept__second-screen p {
  padding-left: 105px;
  max-width: 520px;
  margin-bottom: 25px;

  @include vp-767 {
    padding: 0;
    max-width: 100%;
    margin-bottom: 19px;
  }
}

.concept__third-screen {
  display: flex;
  flex-direction: column;
  margin-bottom: 74px;
  align-items: flex-end;
}

.concept__third-screen p {
  padding-right: 70px;
  max-width: 563px;
  margin-bottom: 22px;

  @include vp-767 {
    padding: 0;
    max-width: 100%;
    margin-bottom: 19px;
  }
}
