.contacts .container {
  padding: 177px 100px 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::after {
    position: absolute;
    content: url("../img/contacts-bg.png");
    top: -188px;
    right: 0;
    z-index: -10;
  }

  @include vp-767 {
    padding: 0 20px 34px;
  }
}

.contacts__headings {
  display: flex;
  justify-content: center;
  margin-bottom: 68px;

  @include vp-767 {
    padding-top: 19px;
    margin-bottom: 37px;
  }
}

.contacts h2 {
  @include font-settings ($ff-ttt, 900, 55px, 1.2, $color-default-white);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;

  @include vp-767 {
    font-size: 35px;
    text-align: center;
  }
}

.contacts h2 span {
  color: $color-accent;
}

.contacts__list {
  margin: 0;
  padding: 0;
  padding-left: 22px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(2, 1fr);
  gap: 44px 110px;

  @include vp-1279 {
    gap: 34px 14px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    padding: 0;
  }
}

.contacts__item h4 {
  @include font-settings ($ff-ttt, 700, 23px, 1, $color-default-white);
  margin: 0;
  margin-bottom: 20px;

  @include vp-767 {
    font-size: 19px;
  }
}

.contacts__item h5 {
  @include font-settings ($ff-ttt, 800, 14px, 1, $color-default-white);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0 0 15px;

  @include vp-767 {
    font-size: 13px;
    margin: 0 0 6px;
  }
}

.contacts__item p {
  @include font-settings ($ff-mont, 400, 18px, 1.6, $color-default-white);
  margin: 0;
  font-size: 19px;
  line-height: 1.6;

  @include vp-767 {
    font-size: 15px;
  }
}

.contacts__item a {
  @include font-settings ($ff-mont, 400, 19px, 1.6, $color-default-white);
  text-decoration: underline;
  display: block;

  @include vp-767 {
    font-size: 15px;
  }
}
