.heading-scale {
  transform: scale(0.8);
  opacity: 0.3;
  transition: all 0.5s ease-in;
  will-change: transform;
}

.heading-scale.effect {
  transform: scale(1);
  opacity: 1;
}

.paragraph-transition {
  opacity: 0.2;
  transition: all 0.5s ease-in;
  will-change: transform;
}

.paragraph-transition.effect {
  transform: translateY(-20px);
  opacity: 1;
}

.timer-shadow {
  animation: none;
  will-change: transform;
}

.timer-shadow.effect {
  animation: animate_pulse 1.2s;
  animation-iteration-count: 2;
}

@keyframes animate_pulse {
  0% {
    box-shadow: 0 0 0 0 #fdde52;
  }

  50% {
    box-shadow: 0 0 7px 7px #ffe678;
  }

  100% {
    box-shadow: 0 0 0 0 #ffea8f;
  }
}
