// popup on/off

.form-popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  z-index: 1000;
}

.form-popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.form-popup {
  position: absolute;
  width: min(80vw, 1241px);
  max-height: min(80vh, 743px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(52px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s all;
  z-index: 1000;
}

.form-popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

// styles

.form-popup__close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 13px;
  margin-left: auto;
  cursor: pointer;

  &::after,
  &:before {
    position: absolute;
    content: "";
    top: 18px;
    left: 8px;
    width: 21px;
    height: 1px;
    background-color: #fff;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(135deg);
  }
}

.form-popup__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-popup__item {
  display: none;
}

.form-popup__item.active {
  display: block;
}

.form-popup__content {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-popup h2 {
  @include font-settings ($ff-ttt, 800, 45px, 1.1, $color-default-white);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.form-popup  p {
  @include font-settings ($ff-mont, 400, 16px, 1.5, $color-default-white);
  letter-spacing: 0.02em;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

.form-popup__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  margin-bottom: 40px;
}

.form-popup__fieldset input {
  @include font-settings($ff-mont, 400, 16px, 1.5, $color-default-white);
  min-width: 457px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-default-white;
  padding: 20px;
}

.form__submit-btn {
  @include font-settings ($ff-mont, 700, 22px, 1, $color-default-black);
  width: 334px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-accent;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition: 0.5s all;
  margin: 0 auto;
}
