.info {
  margin-bottom: 19px;
}

.info .container {
  position: relative;
  padding: 0 100px;

  &::after {
    position: absolute;
    content: url("../img/info-blur.png");
    top: -630px;
    right: 0;
  }

  @include vp-767 {
    padding: 0 20px;
  }
}

.info h2 {
  @include font-settings ($ff-ttt, 800, 60px, 1.2, $color-accent);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 71px;
  max-width: 58%;
  padding-top: 26px;

  @include vp-767 {
    font-size: 40px;
    max-width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }
}

.info h2 span {
  color: $color-default-white;
}

.info__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 65px;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

.info__item {
  min-width: 397px;
  margin-bottom: 58px;

  @include vp-767 {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 28px;
  }
}

.info__item h4 {
  @include font-settings ($ff-ttt, 900, 30px, 1, $color-accent);
  color: $color-accent;
  margin: 0;
  margin-bottom: 5px;

  @include vp-767 {
    font-size: 26px;
    margin-bottom: 3px;
  }
}

.info__item p {
  @include font-settings ($ff-mont, 500, 22px, 1, $color-default-white);
  margin: 0;

  @include vp-767 {
    font-size: 18px;
    max-width: 95%;
    line-height: 1.2;
  }
}
