.info {
  margin-bottom: 200px;
}

.info .container {
  position: relative;
  padding: 0 100px;

  &::after {
    position: absolute;
    content: url("../../img/info-blur.png");
    top: -630px;
    right: 0;
  }
}

.info h2 {
  @include font-settings ($ff-ttt, 800, 60px, 1.2, $color-accent);
  text-transform: uppercase;
  margin: 0;
}

.info h3 {
  @include font-settings ($ff-ttt, 800, 60px, 1.2, $color-default-white);
  text-transform: uppercase;
  margin: 0;
}

.info__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.info__item {
  max-width: 400px;
  margin-right: -50px;
}

.info__item h4 {
  @include font-settings ($ff-ttt, 900, 30px, 1, $color-accent);
  color: $color-accent;
}

.info__item p {
  @include font-settings ($ff-mont, 500, 22px, 1, $color-default-white);
}
