.intro .container {
  padding-top: 121px;
  padding-bottom: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include vp-1279 {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
  }
}

.intro__heading {
  display: flex;
  margin-bottom: 18px;

  @include vp-767 {
    flex-direction: column;
    margin: 0 auto;
  }
}

.intro__heading .intro__img {
  margin-right: 20px;

  @include vp-1279 {
    order: 1;
    width: 203px;
    margin-left: 20px;
  }
}

.intro__heading p {
  @include font-settings ($ff-mont, 700, 20px, 1.1, $color-default-white);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin: 0;
  padding-top: 15px;

  @include vp-1279 {
    text-align: center;
    font-size: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    margin-bottom: 86px;
    padding-top: 58px;
  }
}

.intro h1 {
  @include font-settings ($ff-ttt, 800, 154px, 1, $color-default-white);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 4px;

  @include vp-1279 {
    font-size: 80px;
  }

  @include vp-767 {
    font-size: 42px;
    margin-top: -5px;
    margin-bottom: 16px;
  }
}

.intro h2 {
  @include font-settings ($ff-ttt, 800, 49px, 1, $color-default-white);
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 115px;

  @include vp-1439 {
    margin-bottom: 80px;
  }

  @include vp-1279 {
    font-size: 32px;
    margin-bottom: 50px;
  }

  @include vp-767 {
    font-size: 20px;
    margin-bottom: 125px;
  }
}

.intro__sub {
  display: flex;
  align-items: center;

  @include vp-1279 {
    margin-bottom: 68px;
  }
}

.intro__sub span {
  @include font-settings ($ff-mont, 400, 18px, 1.2, $color-default-white);
  margin-right: 12px;

  @include vp-767 {
    font-size: 12px;
  }
}

.intro__img--sigma {
  object-fit: contain;

  @include vp-767 {
    width: 93px;
    height: 19px;
  }
}
