.package {
  width: 401px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #505050;
  border-radius: 30px;

  &:hover {
    border: 1px solid #554a08;
    background-color: rgba(255, 207, 0, 0.1);
  }

  @include vp-767 {
    max-width: 279px;
    border-radius: 20px;
  }
}

.package__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.package__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.package h5 {
  @include font-settings ($ff-mont, 700, 14px, 1.2, $color-default-white);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.12em;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 38px;
  padding-left: 10px;

  @include vp-767 {
    font-size: 12px;
    padding-top: 25px;
    margin-bottom: 18px;
  }
}

.package b {
  @include font-settings ($ff-ttt, 800, 30px, 1.2, $color-accent);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;

  @include vp-767 {
    font-size: 21px;
    margin-bottom: 22px;
  }
}

.package__btn {
  @include font-settings ($ff-mont, 800, 18px, 1, $color-default-black);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 100%;
  min-height: 52px;
  border: none;
  border-radius: 0 0 30px 30px;
  background-color: $color-accent;
  opacity: 0.9;
  cursor: pointer;

  @include vp-767 {
    font-size: 13px;
    min-height: 36px;
    border-radius: 0 0 20px 20px;
  }
}
