.package-meetup .container {
  padding: 100px;
}

.package-meetup h2 {
  @include font-settings ($ff-ttt, 800, 80px, 1, $color-accent);
  text-transform: uppercase;
  margin: 0;
}

.package-meetup h3 {
  @include font-settings ($ff-ttt, 800, 80px, 1, $color-default-white);
  text-transform: uppercase;
  position: relative;
  margin: 0;
  margin-bottom: 103px;

  &::after {
    @include font-settings ($ff-ttt, 800, 38px, 1.2, $color-default-black);
    position: absolute;
    content: "Meet-up";
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    width: 273px;
    height: 68px;
    bottom: -29px;
    left: 277px;
    background-color: $color-accent;
    border: 1px solid $color-default-black;
    border-radius: 250px;
    transform: rotate(-10deg);
  }
}

.package-meetup__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
