.parallax {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.parallax-layer {
  position: absolute;
  z-index: -1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include vp-1279 {
    display: none;
  }

  &--1 {
    top: 22px;
    left: 0;
  }

  &--2 {
    top: -189px;
    right: 0;
  }

  &--3 {
    top: 675px;
    right: 99px;
  }

  &--4 {
    top: 1231px;
    left: 0;
  }

  &--5 {
    top: 242px;
    right: 354px;
  }

  &--6 {
    top: -18px;
    right: -525px;
  }

  &--7 {
    top: -91px;
    right: 468px;
  }

  &--8 {
    top: 340px;
    right: 323px;
  }

  &--9 {
    top: -230px;
    right: -70px;
  }
}
