// popup on/off

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  z-index: 1000;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.popup {
  position: absolute;
  width: min(80vw, 1241px);
  max-height: min(80vh, 743px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(52px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s all;
  z-index: 1000;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

// styles

.popup__close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 13px;
  margin-left: auto;
  cursor: pointer;

  &::after,
  &:before {
    position: absolute;
    content: "";
    top: 18px;
    left: 8px;
    width: 21px;
    height: 1px;
    background-color: #fff;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(135deg);
  }
}

.popup__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popup__tickets {
  text-align: center;
}

.popup__item {
  display: none;
}

.popup__item.active {
  display: block;
}

.popup__content {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  padding-left: 50px;
}

.popup h2 {
  @include font-settings ($ff-ttt, 800, 45px, 1.1, $color-default-white);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 67px;
  max-width: 60%;
  padding-left: 10px;
}

.popup__tickets p {
  @include font-settings ($ff-mont, 400, 16px, 1.5, $color-default-white);
  letter-spacing: 0.02em;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

.popup__tickets b {
  @include font-settings ($ff-ttt, 800, 40px, 1.2, $color-accent);
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.popup__tables-list {
  margin: 0;
  padding: 108px 54px 0 4px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__tables-item {
  max-width: 360px;
  min-height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup__tables-item h5 {
  @include font-settings ($ff-mont, 700, 14px, 1.2, $color-default-white);
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin: 0 0 5px;
  padding-left: 8px;
}

.popup__tables-item h2 {
  @include font-settings ($ff-ttt, 800, 38px, 1.2, $color-default-white);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
}

.popup__tables-item b {
  @include font-settings ($ff-ttt, 800, 24px, 1.2, $color-accent);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-left: 7px;
  margin-bottom: 25px;
}

.popup__text-list {
  margin: 0;
  padding: 0 114px 0 36px;
  max-height: 170px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: auto;
}

.popup__tables-item .popup__text-list {
  padding: 0;
  padding-left: 20px;
  margin-bottom: 55px;
}

.popup__text-item {
  @include font-settings ($ff-mont, 400, 16px, 1.5, $color-default-white);
}

.popup__tables-list .popup__text-item {
  font-size: 14px;
}

.popup__buy-btn,
.popup__get-sponsor-btn {
  @include font-settings ($ff-mont, 700, 22px, 1, $color-default-black);
  width: 334px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-accent;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition: 0.5s all;
  margin-bottom: 30px;
}

.popup__buy-btn {
  margin: 0 auto;
}

.popup__tables-item .popup__get-sponsor-btn {
  padding-left: 10px;
  width: 278px;
  font-size: 18px;
  margin-bottom: 110px;
}
