.program .container {
  padding: 7px 0 87px 100px;
  position: relative;
  padding-right: 0;
  overflow: hidden;

  @include vp-767 {
    padding: 0 17px;
  }
}

.program__blur {
  position: relative;

  &::after {
    position: absolute;
    content: url("../img/program-blur.png");
    top: 189px;
    right: 0;
    z-index: 10;

    @include vp-767 {
      top: 110px;
    }
  }
}

.program h3 {
  @include font-settings ($ff-ttt, 800, 80px, 1, $color-default-white);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  position: relative;
  margin: 0;
  margin-bottom: 190px;

  @include vp-1279 {
    font-size: 65px;
  }

  @include vp-767 {
    font-size: 31px;
    padding-top: 41px;
    margin-bottom: 131px;
    padding-left: 3px;
  }
}

.program__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.program__item {
  position: relative;
  width: 415px;
  padding-right: 14px;
  cursor: grab;

  &::before {
    position: absolute;
    content: "";
    top: -49px;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $color-accent;
    z-index: 10;
  }

  &::after {
    position: absolute;
    content: "";
    top: -39px;
    left: 0;
    width: 415px;
    height: 4px;
    background-color: #353533;
  }

  @include vp-767 {
    width: min(88%, 252px);
    padding: 0;

    &::before {
      top: -35px;
      left: 3px;
    }

    &::after {
      top: -25px;
      left: 3px;
      width: 100%;
    }
  }
}

.program__item h4 {
  @include font-settings ($ff-ttt, 800, 24px, 1.2, $color-accent);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 2px;
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

  @include vp-767 {
    margin-bottom: 0;
  }
}

.program__item p {
  @include font-settings ($ff-ttt, 800, 28px, 1.2, $color-default-white);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 340px;
  margin: 0;
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

  @include vp-767 {
    font-size: 20px;
  }
}

.program__item span {
  @include font-settings ($ff-ttt, 700, 18px, 1.2, $color-default-white);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 1px;
  display: block;
}

.program__btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 45px;
  right: 172px;
  border: none;
  background: transparent, url("../img/svg/slider-arrow.svg") center no-repeat;
  cursor: pointer;
  z-index: 100;

  &--next {
    transform: scale(-1, 1);
    right: 100px;
  }

  @include vp-1279 {
    top: 91px;
    transform: scale(0.89);

    &--prev {
      left: 50%;
      transform: translate(-113%) scale(0.89);
    }

    &--next {
      left: 52%;
      transform: scale(-0.89, 0.89);
    }
  }
}

//swiper

.swiper {
  width: 100%;
  height: 100%;
}
