.speaker .container {
  position: relative;
  padding: 100px 100px;

  &::after {
    position: absolute;
    z-index: -1;
    content: url("../img/speaker-blur.png");
    top: -160px;
    left: 0;
  }
}

.speaker h3 {
  @include font-settings ($ff-ttt, 800, 60px, 1.2, $color-default-white);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 150px;
}

.speaker__wrapper {
  position: relative;
  display: flex;
  margin-bottom: 100px;

  &::before,
  &::after {
    position: absolute;
    z-index: -1;
  }

  &::before {
    content: url("../img/speaker-bg.png");
    top: -291px;
    left: 330px;
    width: 243px;
    height: 367px;
  }

  &::after {
    content: url("../img/speaker-bg-2.png");
    top: 249px;
    right: -10px;
  }
}

.speaker__photo {
  margin-right: 50px;
}

.speaker__info {
  display: flex;
  flex-direction: column;
}

.speaker__info h4 {
  @include font-settings ($ff-ttt, 800, 38px, 1.2, $color-default-white);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.speaker__info h5 {
  @include font-settings ($ff-ttt, 800, 38px, 1.2, $color-default-black);
  max-width: 573px;
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: $color-accent;
  border-radius: 250px;
}

.speaker__info p {
  @include font-settings ($ff-mont, 500, 16px, 1.3, $color-default-white);
}

.speaker__info b {
  @include font-settings ($ff-mont, 700, 16px, 1.3, $color-default-white);
}

.speaker__info cite {
  @include font-settings ($ff-mont, 700, 20px, 1.3, $color-default-white);
  font-style: italic;
}
