.tickets .container {
  padding: 0 80px;
}

.tickets h3 {
  @include font-settings ($ff-ttt, 800, 80px, 1, $color-default-white);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  position: relative;
  margin: 0;
  margin-bottom: 103px;
  padding-left: 20px;
}

.tickets__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tickets__item {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 10px 20px 10px;
  padding: 37px;
  border: 1px solid #5b5952;
  border-radius: 30px;
}

.tickets__item h4 {
  @include font-settings ($ff-ttt, 800, 40px, 1.2, $color-default-white);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 40%;
  margin: 0;
}

.tickets__item p {
  @include font-settings ($ff-mont, 500, 14px, 1.2, $color-default-white);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 40%;
  margin: 0;
}

.tickets__item b {
  @include font-settings ($ff-ttt, 800, 30px, 1.1, $color-accent);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 40%;
  margin: 0;
}

.tickets__btn {
  @include font-settings ($ff-mont, 800, 18px, 1, $color-default-black);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: $color-accent;
  width: 240px;
  height: 52px;
  border: none;
  border-radius: 55px;
}
