.tickets .container {
  padding: 0 80px;
  position: relative;

  &::after {
    position: absolute;
    content: url("../img/tickets-blur.png");
    top: -500px;
    right: 0;
    z-index: -10;
  }
}

.tickets__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.tickets__timer {
  position: relative;
  margin-right: 76px;

  &::before {
    @include font-settings ($ff-ttt, 800, 28px, 1.2, $color-default-black);
    position: absolute;
    content: "Early birds";
    padding-top: 15px;
    padding-right: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    width: 298px;
    height: 63px;
    top: -36px;
    left: -112px;
    background-color: $color-accent;
    border: 1px solid $color-default-black;
    border-radius: 250px;
    transform: rotate(-3deg);
  }
}

.tickets h3 {
  @include font-settings ($ff-ttt, 800, 80px, 1, $color-default-white);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  position: relative;
  margin: 0;
  margin-right: auto;
  padding-left: 20px;
  padding-top: 30px;
}

.tickets__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tickets__item {
  width: 47.7%;
  max-height: 187px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 10px 20px 10px;
  padding: 37px;
  border: 1px solid #5b5952;
  border-radius: 30px;
}

.tickets__left-col,
.tickets__right-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.tickets__item h4 {
  @include font-settings ($ff-ttt, 800, 40px, 1.2, $color-default-white);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: auto;
}

.tickets__item p {
  @include font-settings ($ff-mont, 500, 14px, 1.2, $color-default-white);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
}

.tickets__item b {
  @include font-settings ($ff-ttt, 800, 40px, 1.1, $color-accent);
  width: 150px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
align-self: flex-end;
  width: 150px;
  margin: 0;
}

.tickets__btn {
  @include font-settings ($ff-mont, 800, 18px, 1, $color-default-black);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: $color-accent;
  width: 240px;
  height: 52px;
  border: none;
  border-radius: 55px;
  cursor: pointer;
}
